/*
    charcoal background: #2D333B
    black background: #22272E
    outlines: #444C56
    off white text: #CDD9E5
    light gray text: #ACB9C6
    orange underline: #EC775C
    blue repo name: #539BF5
    yellow JavaScript circle: #F1E05A
    redorange HTML circle: #E34C26
*/

header{
    background-color:#2D333B ;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo{
    height: 35px ;
    margin-left: 20px;
}
 .nav-links{
    color:#CDD9E5;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
 }

 #notification-bell{
    height: 15px;
 }

 #profile-pic{
    height: 30px;
    border-radius: 50%;
 }

 #header-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 15px;
    color: #CDD9E5;
    gap: 15px;
 }

 #picture-profile{
    height: 300px;
    border-radius: 50%;
    border: 2px solid #444C56;
 }

 #display-name{
    font-weight: bolder;
    font-size: 30px;
 }
 #account-name{
    font-size: 25px;
    font-weight:100;
    color: #ACB9C6;
 }

 #edit-profile{
    display: inline-block;
    width: 200px;
    height: 30px;
 }

 #left-main{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
 }